@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Cute Font', cursive;
}

input {
  font-family: 'Cute Font', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-s {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-ss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.hoverEvent {
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}
.hoverEvent:hover{
  transform: scale(1.2);
}

.hoverEvent:active {
  transform: scale(1.0);
}