@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  font-family: 'Cute Font', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-s {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-ss {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bsPatchPlusFill {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.bsPatchPlusFill:hover {
  transform: rotate(90deg)!important;
}

.hoverEvent {
  transition: 0.2s;
  user-select: none;
  cursor: pointer;
}
.hoverEvent:hover{
  transform: scale(1.2);
}

.hoverEvent:active {
  transform: scale(1.0);
}

.input-box {
  position: relative;
  width: 400px;
  height: 40px;
}

input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  color: black;
  font-size: 24px;
}

.input-box label {
  position: absolute;
  left: 0;
  top: 0px;
  color: black;
  transition: 0.2s;
  user-select: none;
  font-size: 24px;
}

.input-box input:focus + label, input:not(:placeholder-shown) + label {
  transform: translateY(-20px);
  opacity: 0.5;
  font-size: 18px;
}

.input-box input:focus {
  border-bottom: 2px solid black;
}